# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.orig

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
build*/
Debug/
Release/

# Qt .user
*.pro.user*

# Qt moc files
*moc_*

# Certificates
*.pem

# Logs
logs*.txt

# CMake
CMakeCache.txt
CMakeFiles/
compile_commands.json

# Hidden folders
.ccls*/
.clangd

# Tags
tags
